@model Car.Web.Models.CarBand

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CarBand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryCh" class="control-label"></label>
                <input asp-for="CountryCh" class="form-control" />
                <span asp-validation-for="CountryCh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryEn" class="control-label"></label>
                <input asp-for="CountryEn" class="form-control" />
                <span asp-validation-for="CountryEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandImagePath" class="control-label"></label>
                <input asp-for="BandImagePath" type="file" />
                <span asp-validation-for="BandImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
